
<p-tabView>
    
    
  <p-tabPanel header="Audit Head">
      <div class="p-col-12 p-md-12 p-lg-12">
          <h6 class="center">Select a department</h6>
          <p-dropdown [options]="cities"  placeholder="Select a department"  [showClear]="true"></p-dropdown>
          <h6 class="first">Select a unit</h6>
          <p-dropdown [options]="citie"  placeholder="Select a unit"  [showClear]="true"></p-dropdown>
          
        </div>  


    <h2 align="center" style="font-weight: 600">Audit</h2>
    <h5 align="center">Department name : Public Health </h5>
    <h5 align="center">Year : 2018-19</h5>
    <h2 align="center" style="font-weight:600"> Pre Audit</h2>
    <h5 align="center">Category : General Sector Audit</h5>
    <p-table [columns]="riskCols" [value]="preAuditRiskData" [style]="{'font-size':'12px'}" [paginator]="true" [rows]="10"
    sortMode="multiple" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="caption" style="font-size: 16px">
        <!-- <tr>
            <td colspan="2">Aggregated Risk Score</td>
            <td>18B</td>
            <td></td>
        </tr> -->
        Aggregated Risk Score:&nbsp;18B
      </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>

  </p-table>
</p-tabPanel>


<p-tabPanel header="Post-Audit">
    <h3>Execution</h3>

    <p-table [value]="preAuditData">
      <ng-template pTemplate="header">
        <tr>
          <th>Category</th>
          <th>Observation</th>
          <th>Specific Para</th>
          <th>Response</th>
          <th>Status</th>
          <th>Para Raised By</th>
          <th>IR Dispatch Date</th>
          <th>Response Date</th>
          <th>Stage</th>
          <th>Supporting Resource</th>
          
          <th style="width:8em"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.category">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.category}}
              </ng-template>

            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.observation">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.observation}}
              </ng-template>

            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.specificParameter">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.specificParameter}}
              </ng-template>

            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.response">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.response}}
              </ng-template>

            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.status">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.status}}
              </ng-template>

            </p-cellEditor>
          </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.nameofcontributer">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.nameofcontributer}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.dispatchdate">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.dispatchdate}}
              </ng-template>

            </p-cellEditor>
          </td>

          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.responsedate">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.responsedate}}
              </ng-template>

            </p-cellEditor>
          </td>
          <td pEditableColumn>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="file" [(ngModel)]="rowData.stage">
                </ng-template>
                <ng-template pTemplate="output">
                  {{rowData.stage}}
                </ng-template>
  
              </p-cellEditor>
            </td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="file" [(ngModel)]="rowData.resourceFile">
              </ng-template>
              <ng-template pTemplate="output">
                {{rowData.resourceFile}}
              </ng-template>

            </p-cellEditor>
          </td>
          
          <td style="width:10%">
            <button class="btn btn-success" (click)="edit(rowData)" style="font-size:smaller;width:35px;margin-right:.5rem"><i class="pi pi-check"></i></button>
            <button class="btn btn-danger" (click)="cancel()"  style="font-size:smaller;width:35px"><i class="pi pi-minus"></i></button>
          </td>

      </ng-template>

    </p-table>

  </p-tabPanel>

</p-tabView>