
    
  
    
     <div class="bg-img">
    <div class="container" style="width:25%" >
        
      <h2 style="align:centre">LOGIN </h2>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" style="color: aqua;" (click)="login()">Login</button>
    </div>
    </div>
  
    
  