
  <div clscc="p-col-12">
        <div style="z-index:2;background-image: linear-gradient(skyblue, blue)">
                <a class="navbar-brand" style="cursor: pointer; display: flex; justify-content: space-between;width:75%;padding-left:2rem"><img class="img-fluid" src="assets/images/auditlogo.jpg"
                    style="height:100px;" alt="">
                    <div><h2 style="font-size: 40px;text-align: center; font-weight: 700">Principal Accountants General </h2>
                      <h2 style="font-size: 15px;text-align: center">Government of Karnataka  </h2></div>
                </a>
        </div>
  </div>

<router-outlet></router-outlet>
