<p-toast></p-toast>
<p-table [columns]="cols" [value]="risks" [style]="{'font-size':'12px'}" [paginator]="true" [rows]="10"
sortMode="multiple" [responsive]="true">
<ng-template pTemplate="header" let-columns>
  <tr>
    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
      {{col.header}}
      <p-sortIcon [field]="col.field"></p-sortIcon>
    </th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr>
    <td *ngFor="let col of columns" pEditableColumn>
     
      {{rowData[col.field]}}
    </td>
  </tr>

</ng-template>
<ng-template pTemplate="summary" let-rowData >
    <div style="text-align:left">
        <button class="btn btn-info" icon="pi pi-plus" type="button"  (click)="addRisk= true;" label="Add"> <i class="pi pi-plus"></i>Add</button>
      
      </div>
</ng-template>  
</p-table>
<div *ngIf="addRisk" style="font-size:14px">
    <div class="p-col-12">
        <div class="p-col-4">
            <label for="desc"><h3>Description:</h3></label>
        </div>
        <div class="p-col-8">
            <input pInputText id="desc" [(ngModel)]="risk" style="width: 100%" />
        </div>
    </div>
    <div class="p-col-12">
        <h4>Categorisation of Observation</h4>
    </div>
    <div class="p-col-12">
      Category:<input  pInputText  [(ngModel)]="category" type="text"  />.
    </div>
    <div class="p-col-12">
      Level: <input type="number"  [(ngModel)]="level" pInputText style="width:50px">&nbsp;
    </div>

    <div style="text-align: center;width: 100%;margin-top:1rem">
        <button class="btn btn-success" (click)="addNewRisk(newriskSubject, category)" >Add Observation</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" (cick)="cancel()">Cancel</button>
    </div>

</div>
