<div layout="column" class="zero">

<h5 align="center" style="font-weight: 600"> Name of  the department : Public Health and Family Welfare</h5>
<br>
<h5 align="center" style="font-weight: 600"> Last Audited date : 2016</h5>
<h5 align="center" style="font-weight: 600"> Latest IR : Click <a href="http://www.yahoo.com">here</a> for the latest IR.</h5>
<p-accordion [multiple]="true">
    <p-accordionTab header="Section A">
        fghjkhgvcfgyuijkbhvgfchjnbvcgh
    </p-accordionTab>
    <p-accordionTab header="Section B">
        ghjkhgvhjknbhjklmnbhjklmnhbjkmjj
    </p-accordionTab>
  </p-accordion>


<div flex="33" flex-md="{{ vm.box1Width }}" class="one">
  <h3 align="center" style="font-weight: 600"> Status</h3>
  <br>
  <h5 align="center" style="font-weight: 600"> Last Reply Received : 27/05/2017</h5>
  <h5 align="center" style="font-weight: 600"> Para No : 25</h5>
  <h5 align="center" style="font-weight: 600"> Opened/Closed : open</h5>
</div>
<div>
  <h3 align="center" style="font-weight: 600"> Key Resources</h3>
  <h5 align="center" style="font-weight: 600"> Checklist : Click <a href="http://www.yahoo.com">here</a> for the Checklist</h5>
  <h5 align="center" style="font-weight: 600"> DDO wise : NIMANS, Diary Circle</h5>
  <h5 align="center" style="font-weight: 600"> CAG Report : Click <a href="http://www.yahoo.com">here</a> for the CAG Report</h5>
  <h5 align="center" style="font-weight: 600"> Paras under process : 12,23,30</h5>
</div>
</div>
  
