<div class="ui-g ui-fluid">
    <div class="ui-g-3">
<h6>Organisation Name</h6>
<input id="input" type="text" size="30" pInputText [(ngModel)]="text11"> 
    </div>
    
<div class="ui-g-3" >
  
  
    <h6>Hierarchy of the Department</h6>
        <p-dropdown  id="input1" [options]="selecthead"  placeholder="belongs to"
                [showClear]="true"></p-dropdown><br><br>
                <h6>location type</h6>    
                <p-dropdown  id="input2" [options]="selectlocation"  placeholder="registration"
                [showClear]="true"></p-dropdown>  <br><br><br>    
                <h5 align="center" style="font-weight: 500"> Headed by</h5>
  <br><br>
        
    <h5 align="center" style="font-weight: 500;"> Audit Unit Level</h5>  <br><br>          

  </div>             

<div class="ui-g-3" >
    <h6> Department Name</h6>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="text11"><br><br>
    <h6> Address  </h6>
      <input id="input" type="text" size="30" pInputText [(ngModel)]="text11"> <br><br>
  <h6> Name of the person</h6>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="text11"> 
    <br><br>
    
     
    <p-dropdown  id="input2" [options]="classification"  placeholder="classification"
                [showClear]="true"></p-dropdown>  <br><br><br>

  </div>
  
</div>
<div>
    <p-fieldset legend="Member Profile" [toggleable]="true">
        <p-table [columns]="memCols" [value]="memData">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
                </td>
              </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
<div style="color:green;text-align: right;"><i class="fa fa-plus-circle" style="font-size: xx-large" aria-hidden="true"></i></div>

</div>

<div style="text-align: center;margin-top: 2rem">
  <button  class="btn btn-success" style="margin-right: 1rem">Create</button>
  <button class="btn btn-danger" style="margin-right: 1rem">Cancel</button>
</div>
